.marketing-templates-section{padding-top:2em;padding-bottom:2em}.hero{padding-top:130px;height:420px}@media all and (min-width: 801px) and (max-width: 1024px), all and (min-width: 1025px){.hero{padding-top:160px}}.press-quote-img{max-height:20px;max-width:100%;margin-bottom:1em}
